.bg-Navbar {
    background-color: #f1b355;
}
.me-auto {
    justify-content: flex-end;
}
a{
    color: #000;
}
.navbar {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 999;
}
.active {
    color: rgb(61, 61, 192) !important;
}   
button {
    background: transparent;
    border: none; 
}