.home_container {
    margin: 0; 
    padding: 0; 
    width: 100% !important;
    height: 100vh !important;
    border: none !important;
    box-shadow: none !important;
    /* display: flex !important;
    align-items: center !important; */
}
.home_row {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 1rem;
}
.home_col h2{
    font-size: clamp(1.8rem, 4vw, 2.5rem) !important;
}
.home_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
}
.home_button {
    background-color: transparent !important;
    border: 2px solid #ffc107;
}
.home_button:hover {
    background-color: #ffc107 !important;
}